/* Login page */
.Auth{
    background-color: #36394c;
    width: 100%;
    height: 100vh;

    .login-card{
        width: 700px;
        height: 400px;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 12px;
        display: flex;
        flex-wrap: nowrap;

        .card-left{
            max-width: 40%;
            min-width: 40%;
            height: 100%;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;

            img{
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }

        .card-right{
            max-width: 60%;
            min-width: 60%;

            .auth-tabs{
                min-height: 100%;
                header{
                    border-top-right-radius: 10px;
                }
                .auth-tab{
                    min-height: 50px;
                    min-width: 33.33%;
                    text-transform: unset;
                    font-size: 12px;
                    font-family: $font-rubik;
                }

                .form-login, .form-register, .form-forgotPassword{
                    .text-field{
                        width: 100%;
                        margin: 2% 0;
                        font-size: 12px;
                        
                        label{
                            font-size: 14px;
                        }                      
                    }
                    button{
                        margin: 2% 0;
                    }

                    .social-login{
                        .title{
                            font-size: 12px;
                            font-weight: bold;
                        }
                        .button-facebook{
                            background-color: #3b5998;
                            color:  white;
                            text-transform: unset;
                        }

                        .button-twitter{
                            background-color: #1da1f2;
                            color:  white;
                            text-transform: unset;
                        }
                    }
                }
            }
        }
    }
}