/* ==============
  General
===================*/

body {
    // background-repeat: repeat;
    // background: $bg-body;
    font-family: $font-roboto-condensed;
    // color: $body-color;
    font-size: $base-font-size;
  }

  .col{
    padding-left: 0;
    padding-right: 0;
  }

  .content-col-left{
    max-width: max-content;
    position: fixed;
  }