/* ==============
  General
===================*/

body {
    // background-repeat: repeat;
    // background: $bg-body;
    font-family: $font-roboto-condensed;
    // color: $body-color;
    font-size: $base-font-size;
    background: #eef0f8;
  }

  .nav-top{
    height: 50px;
  }

  .col{
    padding-left: 0;
    padding-right: 0;
  }

  .content-col-left{
    max-width: 220px;
    // position: fixed;
  }

  .col-right-content{
    margin: 1% auto;
  }