.content-col-left.col{
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  // z-index: 2000;
   z-index: 1030;
}

.sidebar-auto-scroll {
  position: fixed;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  background: #36394c;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transform: translateX(0);
  .side-bar {
    background: #36394c;
    text-align: left;
    width: 215px;
    height: 100%;
    font-family: $font-roboto-condensed;
    .metismenu-container {
      .metismenu-item {
        .metismenu-link {
          text-decoration: none;
          font-size: 1rem;
          color: #a2a3b7;
          &.active {
            background: rgba(255, 255, 255, 0.05);
            // background: #556ee6;
            color: white;
          }

          &.has-active-child {
            color: white;
          }
        }
      }
    }
    &::after{
        box-shadow: none;
    }
  }

  &::-webkit-scrollbar {
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 50%;
    width: 5px;
  }
  &:hover::-webkit-scrollbar-thumb {
    background-color: #999;
    position: absolute;
    right: 50%;
  }
}

@mixin minimenu($mobile) {
  @if $mobile == false{
    max-width: 48px;
    &:hover{
      max-width: 220px;
    }
    &.content-col-left{
      max-width: 48px;
    }
  }
  @else{
    transform: translateX(-100%);
    max-width: unset;
  }
}

.minimenu{
  @include minimenu(false);
}


// Tablet
@media (max-width: 1024px) {
  .content-col-left{
    @include minimenu(false);

    .sidebar-auto-scroll {
      @include minimenu(false);
    }
  }

  // .minimenu.sidebar-auto-scroll{
  //   max-width: unset;
  // }
}

// Mobile
@media (max-width: 768px){
  .content-col-left{
    @include minimenu(true);
    max-width: max-content;
    z-index: 2000;
    transform: translateX(0px) !important;
    position: fixed;

    .sidebar-auto-scroll {
      @include minimenu(true);
    }
  }

  .minimenu.sidebar-auto-scroll{
    transform: translateX(0);
    max-width: unset;
  }
}
