@mixin popupTopbar($className) {
  .#{$className}-title {
    color: white;
    font-size: $large-font-size;
    padding: 5% 2%;
    background: rgba(54, 153, 255, 0.75);
    text-align: center;

    span {
      margin-left: 2%;
      padding: 2% 5%;
      background: #36394c;
      border-radius: 10%;
      font-size: $base-font-size;
    }
  }

  .#{$className}-list-item {
    overflow-y: auto;
    max-height: 40vh;
    min-height: 40vh;

    .#{$className}-item:first-child li {
      .MuiAvatar-colorDefault {
        background-color: green !important;
      }
    }

    .#{$className}-item:nth-child(2) li {
      .MuiAvatar-colorDefault {
        background-color: #dc3545 !important;
      }
    }

    .#{$className}-item:nth-child(3) li {
      .MuiAvatar-colorDefault {
        background-color: #17a2b8 !important;
      }
    }

    .#{$className}-item:nth-child(4) li {
      .MuiAvatar-colorDefault {
        background-color: #745af2 !important;
      }
    }

    .#{$className}-item {
      padding: 0;
      word-spacing: 0.05em;
      span {
        font-size: $base-font-size;
      }

      p {
        color: white;
        font-size: 11px;
        max-width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    &::-webkit-scrollbar {
      background-color: transparent;
      position: absolute;
      top: 0;
      right: 50%;
      width: 5px;
    }
    &:hover::-webkit-scrollbar-thumb {
      background-color: #999;
      position: absolute;
      right: 50%;
    }
  }

  .#{$className}-bottom {
    color: #36394c;
    font-size: $base-font-size;
    padding: 2%;
    background: rgba(54, 153, 255, 0.75);
    text-align: center;
    width: 100%;
    word-spacing: 1px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    transition: 0.4s;

    &:hover {
      color: white;
      text-decoration: none;
      background: rgba(54, 153, 255, 0.75);
    }
  }
}

.topbar {
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 3000;
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    background-color: #36394c !important;
    flex-wrap: unset;
    .topbar-menu {
      width: 240px;
    }
    .navbar-collapse {
      height: 100%;
    }
    .search-mobile {
      display: none;
    }
    .topbar-icon-menu {
      display: flex;
      align-items: center;
      color: white;
      font-size: 20px;
      margin-right: 8%;
      cursor: pointer;
    }
    //nav left search
    .nav-search {
      input {
        border-radius: 20px 0 0 20px;
        border: 0;
        font-size: 14px;
        background-color: #353e53;
        color: white;
        &:focus {
          box-shadow: unset;
        }
      }

      button {
        border-radius: 0 20px 20px 0;
        background-color: #353e53;
        border-color: #353e53;
        padding-left: 0;
        font-size: 14px;
        &:hover {
          background: #353e53;
          color: #6c757d;
        }
        &:focus {
          box-shadow: unset !important;
          border-color: #353e53;
        }
      }
    }

    // nav right
    .navbar-nav {
      height: 100%;
      flex-direction: row;
      .dropdown {
        display: flex;

        button {
          position: relative;
        }
        .dropdown-toggle {
          background-color: transparent;
          border: none;
          box-shadow: none;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          line-height: 0;
          &::after {
            content: initial;
          }

          img {
            margin-right: 10%;
            width: 30px;
            height: 30px;
            object-fit: cover;
            object-position: center;
          }

          svg {
            font-size: 20px;
          }
          span.badge {
            position: absolute;
            left: 34px;
            top: 8px;
          }
        }

        &:last-child {
          .dropdown-toggle {
            padding-right: 0.5rem;
          }
        }
        .dropdown-menu {
          right: 0;
          left: auto;
          background-color: #2e3648;
          position: absolute;
          a {
            color: white;
            word-spacing: 5px;
            font-size: 14px;
            &:hover {
              background-color: #323a4e;
            }
          }
        }
      }
      .notification-icon button span svg {
        animation: ring 1s linear infinite;
        transform-origin: 50% 0;
      }

      //Message
      .envelopeIcon {
        position: relative;
        z-index: 3;
        &::after {
          content: "";
          display: block;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 10px;
          height: 10px;
          border-radius: 100%;
          border: 1px solid #ff9800;
          animation: roundZoom 2s linear infinite;
          z-index: -1;
        }

        &::before {
          content: "";
          display: block;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 10px;
          height: 10px;
          border-radius: 100%;
          border: 1px solid #ff9800;
          animation: roundZoom 2s linear infinite;
          animation-delay: 0.5s;
          z-index: -1;
        }

        .dropdown-menu {
          width: 300px;
          padding: 0;
          @include popupTopbar(message);
        }
      }

      // notification
      .notification-icon {
        .dropdown-menu {
          width: 300px;
          padding: 0;
          @include popupTopbar(notification);
        }
      }
    }
  }
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes roundZoom {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(4);
    opacity: 0;
  }
}

@media (max-width: 575.98px) {
  .topbar {
    .navbar-nav {
      .search-desktop {
        display: none;
      }
      .search-mobile {
        display: block;

        .dropdown-menu {
          left: 0 !important;
          padding: 0.5rem;

          .nav-search-mobile {
            font-size: 14px;
            input {
              background-color: #2e3648;
              color: white;
              &:focus {
                box-shadow: unset !important;
              }
            }
            .input-group-append {
              button {
                font-size: 14px;
              }
            }
          }
        }
      }
      .dropdown {
        position: static;

        .dropdown-toggle {
          padding-right: 1.3rem !important;
          padding-left: 1.3rem !important;
        }

        .dropdown-menu {
          width: 100%;
          left: 10px;
          right: 10px;
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .topbar {
    .topbar-menu {
      display: none;
    }
  }
}
