@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

//font
$font-roboto-condensed: 'Roboto Condensed', sans-serif;
$font-rubik: 'Rubik', sans-serif;
$font-poppins: 'Poppins' ,sans-serif;

$color-primary: #36394c;

$font-color-dark: white;

$large-font-size: 16px;
$base-font-size: 14px;
$small-font-size: 12px;

